:root {
  --header-color:rgba(36, 11, 41, 1);
  --header-text-color: rgba(242, 230, 242, 1);
  --background-color:rgb(182, 120, 185); ;
  --content-box-bgcolor:rgb(245, 183, 248, 0.5);
  --btn-primary-color: rgba(114, 58, 117, 1);;
  --btn-secondary-color:rgb(246, 209, 250);
  --footer-color:rgba(36, 11, 41, 1);
}